body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3D550C;
}

a {
  color: #00B7FF;
}

.queryBox {
  width: 100%;
  background-color:#81B622;
  border: 2px solid blanchedalmond;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.queryOutput {
  width: 90%;
  margin-left: 5%;
  background-color: #ECF87F;
  /*TODO Delete this height attribute just for visualization*/
  min-height: 30vh;
}

.queryOutput {
  color: black;
  font-family: 'Poppins', sans-serif;
}
#modifyContainer {
  background-color: red;
}
.modifyBox {
  background-color: blue;
  width: 90%;
  min-height: 15vh;
  border: 2px solid black;
  margin-left: 5%;
  box-sizing: border-box;
  color: white
}
.modifyBox input {
  width: 25em;
}
.modifyOutput {
  background-color: orange;
}